/*
 * Copyright (c) 2023 Mariano Goluboff
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 / {
	chosen {
		nordic,pm-ext-flash = &mx25r64;
		zephyr,code-partition = &app;
		micropython,filesystem = &mp_filesystem;
		zephyr,console = &cdc_acm_uart0;
	};
};

 /delete-node/ &boot_partition;
 /delete-node/ &slot0_partition;
 /delete-node/ &slot0_ns_partition;
 /delete-node/ &slot1_partition;
 /delete-node/ &slot1_ns_partition;
 /delete-node/ &scratch_partition;
 /delete-node/ &storage_partition;
 
 &flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		app: partition@0 {
			label = "app";
			reg = <0x00000000 0x00100000>;
		};
	};
};

 &mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		mp_filesystem: partition@0 {
			label = "filesystem";
			reg = <0x0 0x7f0000>;
		};
		settings_storage: partition@7f0000 {
			label = "settings";
			reg = <0x7f0000 0x10000>;
		};
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
